.eyeliner-show-grid {
	max-width: 100%;
}
.eyeliner-img-container {
	max-width: 1000px;
}
.eyeliner-container {
	width: 100%;
}
.time {
	font-style: italic;
}
.perm-img {
	width: 70%;
}
.perm-followup {
	padding-left: 1em;
}
h3 {
	padding: 0.5em 0em 0.5em 0em;
}
p {
	padding: 0.5em 0em 0.5em 0em;
}
