.eyeliner-show-grid {
    max-width:100%;
}
.eyeliner-img-container {
    max-width: 1000px;
}
.eyeliner-container {
    width: 100%;
}
.time{
    font-style:italic;
}
.perm-img{
    width:70%;
}
.perm-followup{
    padding-left:1em;
}