.about-show-grid {
	padding: 1em;
	text-align: justify;
}
.about-container {
	width: 100%;
}
.selfie {
	width: 40%;
	float: left;
	margin: 1em;
}
.nav-title {
	font-size: 1.5em;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
}

p {
	padding: 0.5 0 0.5 0;
}
