.lips-show-grid {
	max-width: 100%;
}

.lips-img-container {
	max-width: 600px;
}
.lips-table-container {
	max-width: 500px;
}
.lips-container {
	width: 100%;
}
.time {
	font-style: italic;
}
.lashImg {
	width: 70%;
}
h3 {
	padding: 0.5em 0em 0.5em 0em;
}
p {
	padding: 0.5em 0em 0.5em 0em;
}
